.loaderContainer
{
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    animation: loader 3s forwards;

    .loader
    {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__item
        {
            @extend .shrikhand;
            font-size: 20px;
            color: $white;
            width: 30px;
            height: 30px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: bounce 1s infinite ease-in-out;
            
            &--purple
            {
                background-color: $purple;
            }

            &--pink
            {
                background-color: $pink;
            }

            &--green
            {
                background-color: $green;
            }

            @for $i from 0 through 7
            {
                &--#{$i}
                {
                    animation-delay: 0.2s*$i;
                }            
            }
        }

        @media screen and (min-width:$tablet)
        {
            width:50%;
        }

    }
}

@keyframes bounce 
{
    0%, 100% 
    {
      transform: translateY(0);
    }
    50% 
    {
      transform: translateY(-20px);
    }
}

@keyframes loader
{
    80%
    {
        opacity: 1;
    }

    99.9%
    {
        z-index: 100;
    }

    100%
    {
        opacity: 0;
        z-index: -100;
    }
}