footer 
{
    background-color: $gray;
    height: 180px;
    padding: 25px 6.665%;

    #blocImage
    {
        img
        {
            height: 18px;
            margin-bottom: 25px;

            @media screen and (min-width:$tablet)
            {
                margin-bottom: 0;  
            }
        }

        @media screen and (min-width:$tablet)
        {
            display: flex;
            justify-content: center;   
        }
    }

    #blocPDMC
    {
        #blocProposerDevenir div
        {
            display: flex;
            align-items: baseline;
            
            i
            {
                color: $white;
                margin-right: 10px;
                font-size: 14px;
                width: 18px;
                text-align: center;
            }
    
            h4
            {
                @extend .robotoH4;
                color: $white;
                margin: $marginB10;
            }
        }
    
        #blocMentionsContact p, a
        {
            @extend .robotoP;
            color: $white;
            margin: $marginB10;
        }
    
        @media screen and (min-width:$tablet)
        {
            height: 162px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    
     @media screen and (min-width:$tablet)
    {
        padding: 50px 6.665% 10px 6.665%;
    }
}