/*---------BOUTON EXPLORER NOS RESTAURANTS & COMMANDER-----------------------------------------*/

.btn
{
    height: 45px;
    padding: 0 6.13%;
    @extend .robotoH4;
    color: $white;
    border-radius: 50px;
    border: none;
    background: linear-gradient(174deg, $pink, $purple);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: 1;
    transition: opacity 200ms ease-in-out;

    &:hover
    {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.75);
        cursor: pointer;
        opacity: 0.75;
    }

}


/*--------------BOUTON J'AIME-----------------------------------------*/

.far
{
    transition-duration: 450ms;

    &:hover
    {
        color: transparent;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(174deg, $pink, $purple);
        font-weight: bold;
    }
}

/*-------------Classes----------------------------------------------*/

.textDecorationNone
{
    text-decoration: none;
}

.shift27
{
    position: relative;
    top: -27px;
}

.shift31
{
    position: relative;
    top: -31px;
}

.shift3
{
    position: relative;
    top: -3px;
}

