#titre
{
    height: 283px;

    img
    {
        width: 100%;
        height: 230px;
        object-fit: cover;

        @media screen and (min-width:$tablet) and (max-width:$desktop)
        {
            height: 400px;
        }

        @media screen and (min-width:$desktop)
        {
            height: 550px;
        }

    }

    div
    {
        height: 90px;
        background-color: $lightgray70;
        border-radius: 35px 35px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: -40px;
        z-index: 1;

        h1
        {
            @extend .shrikhand;
            margin: 0 0 0 4.4%;
        }

        i
        {
            font-size: 24px;
            width: 25px;
            height: 25px;
            margin-right: 9.66%;
            color: $black;
            @extend .far;
        }
    }

    @media screen and (min-width:$tablet) and (max-width:$desktop)
    {
        height: 453px;
    }

    @media screen and (min-width:$desktop)
    {
        height: 603px;
    }
}