#blocEPD
{
    background-color: $lightgray70;
    .blocMenu
    {
        background-color: transparent;
        padding: 0 4.4% 40px 4.4%;
        
        h3
        {
            margin: 0;
            @extend .robotoH3;
            font-size: 16px;
            text-transform: uppercase;
        }

        .barre
        {
            width: 42px;
            height: 3px;
            background-color: $green;
            margin: 6px 0 0 0;
        }
        
        .blocPlat
        {
            height: 60px;
            background-color: $white;
            border-radius: 15px;
            margin: 12px 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

            &:hover
            {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                cursor: pointer;
            }

            .articleBloc
            {
                width: 100%;
                height: 50px;
                padding: 5px 5% 5px 2.9%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                transition: margin-right 0.4s ease-in-out;

                h2
                {
                    @extend .robotoH2;
                    font-size: 16px;
                    margin: 0;
                }

                .ellipsis
                {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 240px;

                    @media screen and (min-width:$tablet) and (max-width:$desktop)
                    {
                        width: 300px;
                    }
                }



                .spacebetween
                {
                    display: flex;
                    justify-content: space-between;

                    p
                    {
                        @extend .robotoP;
                        font-size: 14px;
                        margin: 0;
                    }

                    .fontsize14
                    {
                        font-size: 14px !important;
                        display: flex;
                        align-items: flex-end;
                    }

                }
            }

        }

        @media screen and (min-width:$desktop)
        {
            width: 27%;
            height: 275px;
            padding: 20px 3% 40px 3%;
        }
    }

    @media screen and (min-width:$desktop)
    {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}
