.shrikhand
{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;
    color: $black;
}

.robotoH2
{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    color: $black;
}

.robotoH3
{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    color: $black;
}

.robotoH4
{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: $black;
}

.robotoP
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: $black;
}