$pink: #FF79DA;
$purple: #9356DC;
$green: #99E2D0;
$white: #ffffff;
$black: black;
$gray: #454545;


$marginB10: 0 0 10px 0;
$margeLR20: 0 5.33% 0 5.33%;

$lightgray20: lighten($color: $gray, $amount: 20);
$lightgray65: lighten($color: $gray, $amount: 65);
$lightgray70: lighten($color: $gray, $amount: 70);

$lightpurple: lighten($color: $purple, $amount: 33);

$darkgreen: darken($color: $green, $amount: 35);

$tablet : 768px;
$desktop : 992px;







